.el-table .warning-row {
    background: #f0f9eb;
}
.top-step {
    background: #2E3238;
    top: 0;
    border-radius: 0;
    margin-left:40px;
}
#app{
    margin:0 !important;
}
.el-step__title.is-process {
    font-weight: 700;
    color: #e6a23c;
}
.el-step__head.is-process {
    color: #e6a23c !important;
}
.db-type-tab{
    width:70%;
    position:fixed;
    height:330px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    z-index:10;
}
.left-db {
    width:50px;
    height:70%;
    text-align:center;
    position:fixed;
    left:80px;
    top:0;
    bottom:0;
    margin:auto;
    cursor:pointer;
    transition:all .6s;
}
.left-db i{
    transform:scale(2);
    width:32px;
    height:32px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.left-db:hover {
    background: #FFF;
    border-radius:5px;
}
.right-db {
    width: 50px;
    height: 70%;
    text-align: center;
    position: fixed;
    right: 80px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all .6s;
}
.right-db i {
    transform: scale(2);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.right-db:hover {
    background: #FFF;
    border-radius: 5px;
}
.step-enter-active, .step-leave-active {
    transition: all .6s;
}
.step-enter {
    transform: translateX(100%);
    width: 100%;
    position: absolute;
}
.step-leave-to {
    position: absolute;
    width:100%;
    transform:scale(.2);
    opacity:0
}
.botom-nav{
    width:100%;
    height:16px;
    position:fixed;
    left:45px;
    bottom:0;
}
.move-setting {
    margin-left: 40px;
    width: calc(100% - 40px);
    font-size: 0;
    position:relative;
}
.move-setting > div {
    font-size:medium;
    display:inline-block;
    width:33.33333333333333333333333333%;
    position:absolute;
    top:0;
}
.move-setting > div .title{
    font-size:13px;
    display:inline-block;
    width:100%;
    text-align:left;
    margin:10px 0
}
.my-btn{
    display:inline-block;
    margin-bottom:10px;
}
.move-setting-item{
    width:calc(100% - 20px);
    margin:0 auto;
}
.line1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(33.33333333333333333333333333% + 25px);
    margin: auto;
    border-left: 1px solid #1883D7;
    z-index: -1;
}
.line2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: calc(33.33333333333333333333333333% - 15px);
    margin: auto;
    border-left: 1px solid #1883D7;
    z-index: -1;
}
.tables-div1 {
    position: fixed;
    top:100px;
    left:50px;
    height: calc(100% - 170px);
    width: calc(33.33333333333333333333333333% - 35px);
}
.tables-div2 {
    position: fixed;
    top: 100px;
    left: calc(33.33333333333333333333333333% + 35px);
    height: calc(100% - 170px);
    width: calc(33.33333333333333333333333333% - 35px);
}